.delete_role_modal__names_span{
    color: var(--red_ligth);
    margin: 0 .5rem;
}
.delete_role_modal__button_container{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.delete_role_modal__content_container{
    width: 98%;
    margin: 0 auto;
}