.modal__content_container{
    min-width: 30vw;
    border-radius: 5px;
    min-height: 20vh;
    position: relative;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content:start ;
    align-items: center;
}
.input{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 3rem auto;

}
.role_form{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.role_submit_button{
    width: 50%;
    border-radius: 10px;
    border: none;
    padding: .5rem;
    text-align: center;
}

#inactive{
    background-color: var(--green_inactive);
}