.delete_modal__content_container{
    min-width: 20vw;
    border-radius: 5px;
    position: relative;
    margin: 1rem auto;
    justify-content:center ;
}

.delete_modal__button_container{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
